doctype html
html(lang='en')
  head
    title Welcome
    link(href='/auth/stylesheets/style.css', rel='stylesheet')
    link(href='/auth/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
  body
    .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') User Authorization
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            if !user
              li(class=(title == 'Register' ? 'active' : ''))
                a(href='/auth/users/register') Register
              li(class=(title == 'Login' ? 'active' : ''))
                a(href='/auth/users/login') Login
          if user
            ul.nav.navbar-nav.navbar-right
             li
              a(href='/users/logout') Logout
    .container
     != messages()
     block content

    script(src='/auth/jquery/dist/jquery.js')
    script(src='/auth/bootstrap/dist/js/bootstrap.js')
